* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Libre Franklin", sans-serif;
}

.heading {
  font-size: 40px;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}

.heading-soon {
  font-weight: 700;
  color: #000;
}

.copy {
  font-size: 20px;
  font-weight: 300;
}

.social {
  color: hsl(223, 87%, 63%);
}
